{% extends 'base.html' %}
{% block content %}

<div class="form-ticket-container">
    <div class="form-ticket-box">
        <form id="profilePhotoForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div>
                <img id="imagePreview" style="display:none; max-width:100%;">
            </div>
            <button type="submit">Upload</button>
        </form>
        <div id="error" style="color: red;"></div>
    </div>
</div>
    
{% endblock content %}