
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <div class="feed">
        {% for ticket in tickets %}
        <div class="ticket">
            <div class="ticket-header">
                <div class="ticket-user-info">
                    <img class="ticket-avatar" src="{{ ticket.user.profile_photo.url }}">
                    <div class="ticket-details">
                        <p class="ticket-header__user">{{ ticket.user }}</p>
                        <p class="ticket-type">For {{ ticket.type }}</p>
                    </div>
                </div>
                <h3 class="ticket-header__title">{{ ticket.title }} <br> - Author</h3>
                <p class="ticket-header__time">{{ ticket.time_created }}</p>
                {% if ticket.is_creator %}
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="{% static 'images/btn_menu.png' %}" alt="Options">
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a>
                        <a href="{% url 'ticket_delete' ticket.pk %}">Supprimer</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="ticket-content">
                <p class="ticket-content__desc">{{ ticket.description }}</p>
                {% if ticket.image and ticket.image.url %}
                <img class="ticket-content__img" src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% else %}
                <img class="ticket-content__img" src="{% static 'images/no_image.png' %}">
                {% endif %}
            </div>

            {% if ticket.review_set.exists %}
                {% for review in ticket.review_set.all %}
                <div class="review-container">
                    <h3>{{ review.user }} a publié une critique</h3>
                    <div class="review">
                        <div class="review-rating">
                            <h4>{{ review.headline }}</h4>
                            <p>
                                {% for i in star_range %}
                                    {% if i <= review.rating %}
                                        <span class="star star-filled">&#9733;</span>
                                    {% else %}
                                        <span class="star">&#9733;</span>
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                        <p class="review-body">{{ review.body }}</p>
                    </div>
                    {% if review.is_creator %}
                        <div class="dropdown">
                            <button class="dropbtn">
                                <img src="{% static 'images/btn_menu.png' %}" alt="Options">
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a>
                                <a href="{% url 'ticket_delete' ticket.pk %}">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
            <div class="button-container">
                <a class="button-review" href="{% url 'review_upload' ticket.pk %}">Soumettre une critique</a>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
    
    <div class="side-left">
    </div>
    
    <div class="side-right">
        <div class="side-sticky">
            <h2 class="side-title">Pour participer à la communauté !</h2>
            <a class="button-review" href="{% url 'ticket_upload' %}">Demander une critique</a>
        </div>  
    </div>
</main>


   
    
{% endblock content %}