
{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}
{% block content %}
<main class="main-content">
    <div class="feed">
        <div class="feed-nav">
            <h3 class="fancy-link nav-feed-link" data-content="all-posts">Tous les posts</h3>
            <h3 class="fancy-link nav-feed-link" data-content="follows-posts">Posts des amis</h3>
        </div>
        <div id="all-posts" class="feed">
            {% include 'blog/ticket_list.html' with tickets=tickets %}
        </div>
    
        <div id="follows-posts" class="feed" >
            {% include 'blog/ticket_list.html' with tickets=follows_tickets %}
        </div>
    </div>
    
    <div class="side-left">
        <div class="user-container">
            <div class="side-sticky-left">
                <div class="scrollable-content">
                    <h3>Vos amis</h3>
                    <div class="all-user">
                        {% for user in following %}
                        <a class="profile-link" href="{% url 'user_profile' username=user.username %}">{{ user.username|capitalize_first }}</a>
                        <img class="ticket-avatar" src="{{ user|profile_photo_or_default }}">
                        {% endfor %}
                    </div>
                    <h3>Les Utilisateurs</h3>
                    <div class="all-user">
                        {% for user in users %}
                        
                        <a class="profile-link" href="{% url 'user_profile' username=user.username %}">{{ user.username|capitalize_first }}</a>
                        <img class="ticket-avatar" src="{{ user|profile_photo_or_default }}">
                        {%  endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side-right">
        <div class="side-sticky-right">
            <h2 class="side-title">Pour participer à la communauté !</h2>
            <a class="button-review" href="{% url 'ticket_upload' %}">Demander une critique</a>
            <a class="button-review" href="{% url 'create_ticket_review' %}">Créer une critique</a>
        </div>  
    </div>
</main>


   
    
{% endblock content %}