.main-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}



.feed{
    grid-column: 2;
    grid-row: 1;
}

.side-left{
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
}

.side-right{
    
    margin-top: 20px;
    justify-self: center;
    text-align: center;
    grid-row: 1;
    grid-column: 3;
}

.side-sticky{
    position: sticky;
    top: 200px;
}

.side-title{
   
    padding: 15px;
    border-bottom: 2px solid black ;
}



