
.ticket{
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid #D4A373;
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.ticket-header{
    display: grid;
    grid-template-columns: 230px 240px 40px 1fr;
    gap: 15px;
    align-items: center;
    padding-bottom: 30px;
}

.ticket-user-info{
    display:flex;
    align-items: center;
    grid-column: 1;
}

.ticket-avatar{
    width: 90px;
    height: auto;
    border-radius: 50px;
}


.ticket-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;

}

.ticket-header__user{
    margin: 0;
    font-weight: 500;
    font-size: 1.4em;
}

.ticket-type{
    margin: 5px;
    color: gray;
    text-align: center;
}


.ticket-header__title{
    text-align: center;
    
}

.ticket-header__time{
    grid-column: 4;
    text-align: right;
}

.ticket-content{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    align-items: center;
}

.ticket-content__desc{
    font-size: 1em;
    grid: 1;
    padding: 20px;
}

.ticket-content__img{
    grid: 2;
    justify-self: right;
    padding-right: 30px;
    height: 200px;
    width: auto;
}